/* FONTS */
@import url(../css/clash-display.css);

/* VARIABLES */
:root {
  --c-dark: #212529;
  --c-brand: #00489b;
  --c-brand-light: rgba(0, 33, 71, 0.463);
  --c-secondary: #f5c237;
  --c-brand-rgb: 0, 33, 71;
  --c-body: #727272;
  /* --font-base: "ClashDisplay", sans-serif; */
  font-family: "DM Sans", sans-serif;
  --box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.08);
  --transition: all 0.5s ease;
}

/* RESET & HELPERS */
body {
  font-family: var(--font-base);
  line-height: 1.7;
  color: var(--c-body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
  color: var(--c-dark);
}

a {
  text-decoration: none;
  color: var(--c-brand);
  transition: var(--transition);
}

a:hover {
  color: var(--c-brand-light);
}

img {
  max-width: 100%;
  height: auto;
}

.section-padding {
  padding-top: 140px;
  padding-bottom: 140px;
}

.theme-shadow {
  box-shadow: var(--box-shadow);
}

/* IMAGE ZOOM */
.image-zoom {
  position: relative;
  /* overflow: hidden; */
}

.image-zoom-wrapper {
  overflow: hidden;
  position: relative;
}

.image-zoom-wrapper img {
  transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
  transform: scale(1.1);
}

/* NAVBAR */
.navbar {
  box-shadow: var(--box-shadow);
  background-color: var(--c-brand);
  color: white;
}

#navbar-id {
  background-color: var(--c-brand)
  /* rgba(var(--c-brand-rgb), 0.9); */
  
  /* rgba(255, 255, 255, 0.5); */
}

.navbar-nav .nav-link {
  font-weight: 500;
  color:var(--c-secondary);
}

.navbar-nav .nav-link.active {
  color: var(--c-secondary);
}

.transparent-nav {
  background-color: rgba(255, 255, 255, 0.2);
}
#com-nav {
  background-color: #00489b;
  color: white;
}
#com-nav .nav-link{
  color: var(--c-secondary);
}
#com-nav .nav-link.active{
  color: white;
}
/* BTN */
.btn {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 24px;
}

.btn-brand {
  background-color: var(--c-brand);
  border-color: var(--c-brand);
  color: var(--c-secondary);
}

.btn-brand:hover {
  background-color: var(--c-brand-light);
  border-color: var(--c-brand-light);
  color: var(--c-secondary);
}

.btn-light{
  background-color: var(--c-secondary);
  border-color: var(--c-secondary);

}


/* HERO */
#hero {
  background:
  /* linear-gradient(
    rgba(var(--c-brand-rgb), 0.1),
    rgba(var(--c-brand-rgb), 0.438)
  ), */
    url(../images/nipedeal_home.jpg);
  background-position: center;
  background-size: cover;
}
#hero1 {
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.1),
      rgba(var(--c-brand-rgb), 0.438)
    ),
    url(../images/beautiful-giraffe-wild.jpg);
  background-position: center;
  background-size: cover;
}
#hero1 p{
  height: 90%;
}




#infobox{
  background-color: var(--c-brand);
  min-width: 100%;
  color: white;
}
#infobox i {
  font-size: 1.5rem;
  padding-left: 10px;
  justify-content: center;

}
#infobox h4{
  padding-top: 8px;
  padding-left: 30px;
  color: white;
}
#infobox i:hover{
  color: #f5c237;
}
.hero-video {
  position: relative;
  padding-bottom: 50.25%; /* 16:9 ratio */
  min-width: 100%;
  overflow: auto;
  background-position: center;
  background-size: cover;
}

.hero-video video {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-top: 50px; /* Adjust the value as needed */
  min-width: 100%;
  background-size: cover;
  background:linear-gradient(
    rgba(var(--c-brand-rgb), 0.1),
    rgba(var(--c-brand-rgb), 0.438)
  ),
}

.hero-video h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  z-index: 1;
}

/* SECTION TITLE */
.section-title {
  margin-bottom: 60px;
}

.section-title .line {
  width: 60px;
  height: 4px;
  background-color: var(--c-brand);
  margin: 16px auto 24px auto;
}

.section-title p {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* ICONBOX */
.iconbox {
  width: 70px;
  height: 70px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--c-brand-rgb), 0.1);
  color: var(--c-brand);
  font-size: 34px;
  flex: none;
}

/* SERVICE */

#service-box-1 {
  background-image: linear-gradient(
      rgba(var(--c-brand-rgb), 0.1),
      rgba(var(--c-brand-rgb), 0.438)
    ),
    url(../images/backpix.jpg);
  background-position: center;
  background-size: cover;
  color: white;
}

.service {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  z-index: 2;
  height: 100%;
  width: 100%;
}
.bg-image1 {
  background-image: linear-gradient(
      rgba(var(--c-brand-rgb), 1),
      rgba(var(--c-brand-rgb), 0.438)
    ),
    url(../images/jobofer.jpg);
  color: whitesmoke;
}
.bg-image2 {
  background-image: linear-gradient(
      rgba(var(--c-brand-rgb), 1),
      rgba(var(--c-brand-rgb), 0.438)
    ),
    url(../images/standard.webp);
  color: whitesmoke;
}


.bg-image4 {
  background-image: linear-gradient(
      rgba(var(--c-brand-rgb), 1),
      rgba(var(--c-brand-rgb), 0.438)
    ),
    url(../images/job1.jpg);
  color: whitesmoke;
}

.bg-image5 {
  background-image: linear-gradient(
      rgba(var(--c-brand-rgb), 1),
      rgba(var(--c-brand-rgb), 0.438)
    ),
    url(../images/profileu_customization.jpg);
  color: whitesmoke;
}

.bg-image6 {
  background-image: linear-gradient(
      rgba(var(--c-brand-rgb), 1),
      rgba(var(--c-brand-rgb), 0.438)
    ),
    url(../images/cunseling.jpg);
  color: whitesmoke;
}

.bg-image7 {
  background-image: linear-gradient(
      rgba(var(--c-brand-rgb), 1),
      rgba(var(--c-brand-rgb), 0.438)
    ),
    url(../images/interview.jpg);
  color: whitesmoke;
}

.bg-image8 {
  background-image: linear-gradient(
      rgba(var(--c-brand-rgb), 1),
      rgba(var(--c-brand-rgb), 0.438)
    ),
    url(../images/skills.jpg);
  color: whitesmoke;
}

.bg-image9 {
  background-image: linear-gradient(
      rgba(var(--c-brand-rgb), 1),
      rgba(var(--c-brand-rgb), 0.438)
    ),
    url(../images/job1.jpg);
  color: whitesmoke;
}
.service::after {
  content: "";
  width: 40px;
  height: 40px;
  background: rgba(var(--c-brand-rgb), 0.2);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: var(--transition);
}

.service:hover::after {
  width: 100%;
  height: 100%;
  background: rgba(var(--c-brand), 0.2);
  z-index: -1;
}

.service:hover h5,
.service:hover p {
  color: white;
}

.service:hover .iconbox {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}

/* COUNTER */
#counter {
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.8),
      rgba(var(--c-brand-rgb), 0.8)
    ),
    url(../images/richardhouse.jpg);
  background-position: center;
  background-size: cover;
}

/* PORTFOLIO */
.portfolio-item .iconbox {
  background-color: var(--c-brand);
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.portfolio-item:hover .iconbox {
  opacity: 1;
  top: 50%;
}

/* REVIEW */
.review small {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--c-brand);
}

.review-head {
  position: relative;
}

.review-head::after {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: -14px;
  background-color: white;
  transform: rotate(45deg);
}

/* TEAM */
.team-member-content {
  background-color: var(--c-brand);
  position: absolute;
  bottom: -24px;
  left: 50%;
  width: calc(100% - 50px);
  transform: translateX(-50%);
  padding: 24px;
  transition: var(--transition);
  opacity: 0;
}

.team-member:hover .team-member-content {
  opacity: 1;
  bottom: 24px;
}

/* CONTACT */
#contact {
  position: relative;
  z-index: 2;
}

#contact::after {
  content: "";
  width: 100%;
  height: 70%;
  background: linear-gradient(
      rgba(var(--c-brand-rgb), 0.8),
      rgba(var(--c-brand-rgb), 0.8)
    ),
    url(../images/crossroad.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#contact .form-control {
  border-radius: 0;
}

#contact .form-control:focus {
  box-shadow: none;
  border-color: var(--c-brand);
}

/* FOOTER */
footer {
  padding-top: 120px;
}

.footer-bg{
  background-color: var(--c-brand);
}
.footer-top {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}

footer li,
footer p,
footer a {
  color: rgba(255, 255, 255, 0.7);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer .line {
  width: 40px;
  height: 4px;
  background-color: var(--c-secondary);
  margin-top: 12px;
  margin-bottom: 24px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100px;
}

.social-icons a:hover {
  background-color: var(--c-secondary);
  color: white;
}

.infobox {
  background-color: var(--c-brand);
  display: flex;
  color: white;
}
